doctype
html
  head
    title Products
    link(href="/bower/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    script(src="/bower/jquery/dist/jquery.js")
    script(src="/bower/bootstrap/dist/js/bootstrap.js")
  body
    #cart
      include ./cart
    form(id="purchase" method="post")
      table
        thead
          tr: th(colspan='4') Products
          tr: th Image
            th Price 
            th Description
            th Amount
        tbody
          each good in goods
            tr
              td: a(href=good.image.full)
                img(src=good.image.thumb)
              td= good.price.toFixed(2)
              td #{good.description}
              td #{good.amount}
              td: input(style={width: '40px'} type='number' name=good._id min=0 value=0)
      button(id="add") Add to cart
      // button(value="purchase") Purchase
      if user
        if user.permisions.changeAmount
          button(value="changeamount") Change Amount
      script(src="/assets/app/js/action.js")