doctype
html
  head
    title Products
    script(src="/bower/jquery/dist/jquery.js")
  body
    form(id="purchase" method="post")
      table
        thead
          tr: th(colspan='4') Products
          tr: th Image
            th Price 
            th Description
            th Amount
        tbody
          each good in goods
            tr
              td: a(href=good.image.full)
                img(src=good.image.thumb)
              td #{good.price}
              td #{good.description}
              td #{good.amount}
              td: input(style={width: '40px'} type='number' name=good._id min=0 value=0)
      button(value="purchase") Purchase
      if user
        if user.permisions.changeAmount
          button(value="changeamount") Change Amount
    script(src="/bower/jquery/dist/action.js")